<div class="container">
  <div class="row justify-content-center padding-top-bottom">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-6">
              <div class=" p-5">
                <div class="text-center">
                  <h4 class=" text-dark mb-4">Crear una cuenta!</h4>
                </div>

                <form class="user">

                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text" class="form-control form-control-user" id="" placeholder="Nombre">
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" id="" placeholder="Apllidos">
                    </div>
                  </div>

                  <div class="form-group my-3">
                    <input type="email" class="form-control form-control-user" id="" aria-describedby="emailHelp"
                      placeholder="Dirección email ...">
                  </div>

                  <div class="form-grpup row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="password" class="form-control form-control-user" id="" placeholder="Contraseña">
                    </div>
                    <div class="col-sm-6">
                      <input type="password" class="form-control form-control-user" id="" placeholder="Confirmar contraseña">
                    </div>
                  </div>


                  <a href="index.html" class="btn btn-primary btn-user btn-block my-3                                                                                                               ">
                    Registrar
                  </a>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="bi bi-google"></i> Continuar con Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block mt-2">
                    <i class="bi bi-facebook"></i> Continuar con Facebook
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">¿Has olvidado tu contraseña?</a>
                </div>
                <div class="text-center">
                  <a class="small" routerLink="/login">¿Ya tienes una cuenta? Iniciar sesión!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
